.itau-detail-polo
  padding-left: 100px
  padding-right: 100px
  padding-bottom: 100px

.grid-container
  display: grid
  grid-template-columns: auto auto auto auto auto
  padding: 2px

.grid-item-text
  background-color: none

.grid-item-text-strong
  font-size: 30px

.grid-item-text-p
  font-size: 15px

.title-subtitle-space
  padding-bottom: 40px

.button-voltar
  background-color: #989898
  margin-right: 15px
  color: #FFFFFF


.button-salvar
  background-color: #FA8341
  color: #FFFFFF
  width: 125px

.button-space
  padding-top: 30px


.grid-item-input
  padding-right: 10px

